# Ignore project root
*

# Except live folder
!live

!live/*

# Except for docs folder

!docs

!docs/*

# Except LICENSE, README.md, LIB.md, FILETREE.md, .gitignore

!LICENSE

!README.md

!RESTRICTED.md

!LIB.md

!FILETREE.md

!.gitignore

