.3_699 { 
	overflow:hidden;
}
.e3_699 { 
	background-color:rgba(249.71405804157257, 249.71405804157257, 251.81250303983688, 1);
	width:1440px;
	height:1505.3604736328125px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	position:absolute;
}
.e3_700 { 
	width:1440px;
	height:1365.3604736328125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_701 { 
	width:1440px;
	height:134.36045837402344px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_702 { 
	box-shadow:0px 5px 14px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:134.36045837402344px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_703 { 
	width:1220.0001220703125px;
	height:76px;
	position:absolute;
	left:110px;
	top:29.180177688598633px;
}
.e3_704 { 
	width:258px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_705 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:166px;
	height:50px;
	position:absolute;
	left:92px;
	top:13px;
	font-family:DM Sans;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
	line-height:px;
}
.e3_706 { 
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_707 { 
	box-shadow:0px 6px 20px rgba(73.99998798966408, 57.9999965429306, 255, 0.07999999821186066);
	background-color:rgba(255, 255, 255, 1);
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:23.897384643554688px;
	border-top-right-radius:23.897384643554688px;
	border-bottom-left-radius:23.897384643554688px;
	border-bottom-right-radius:23.897384643554688px;
}
.e3_708 { 
	width:52.125911712646484px;
	height:32.215797424316406px;
	position:absolute;
	left:11.937015533447266px;
	top:21.892053604125977px;
}
.e3_709 { 
	background-color:rgba(74.0000031888485, 58.00000034272671, 255, 1);
	width:52.125911712646484px;
	height:16.636079788208008px;
	position:absolute;
	left:-1.3727637337979104e-7px;
	top:15.579716682434082px;
}
.e3_710 { 
	background-color:rgba(74.0000031888485, 58.00000034272671, 255, 1);
	opacity:0.3499999940395355;
	width:52.125911712646484px;
	height:26.0616512298584px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_711 { 
	box-shadow:0px 4.714901447296143px 2.742985725402832px rgba(37.00000159442425, 19.0000007674098, 120.00000044703484, 0.01979999989271164);
	width:301.8248291015625px;
	height:39.67440414428711px;
	position:absolute;
	left:918.17529296875px;
	top:18.162841796875px;
}
.ei3_711_608_6914 { 
	width:246.4374237060547px;
	height:32.88345718383789px;
	position:absolute;
	left:55.38737869262695px;
	top:6.014227390289307px;
}
.ei3_711_608_6915 { 
	width:246.4374237060547px;
	height:32.88345718383789px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_711_608_6916 { 
	width:246.4374237060547px;
	height:32.88345718383789px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_711_608_6917 { 
	background-color:rgba(13.000000175088644, 10.000000353902578, 44.000001177191734, 1);
	width:66.64205169677734px;
	height:27.348966598510742px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_711_608_6918 { 
	background-color:rgba(74.0000031888485, 58.00000034272671, 255, 1);
	width:172.59120178222656px;
	height:32.88344955444336px;
	position:absolute;
	left:73.84615325927734px;
	top:-0.000054850534070283175px;
}
.ei3_711_608_6919 { 
	width:39.67490768432617px;
	height:39.67438507080078px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_711_608_6920 { 
	width:39.67490768432617px;
	height:39.67438507080078px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_711_608_6922 { 
	background-color:rgba(127.8645372390747, 85.30989110469818, 249.6875050663948, 1);
	width:11.150339126586914px;
	height:11.150339126586914px;
	position:absolute;
	left:28.524486541748047px;
	top:-0.000011534047189343255px;
}
.ei3_711_608_6923 { 
	background-color:rgba(117.00000062584877, 80.00000283122063, 251.00000023841858, 1);
	width:11.150339126586914px;
	height:11.149999618530273px;
	position:absolute;
	left:28.524227142333984px;
	top:14.002653121948242px;
}
.ei3_711_608_6924 { 
	background-color:rgba(106.00000128149986, 74.0000031888485, 252.00000017881393, 1);
	width:11.150339126586914px;
	height:11.150339126586914px;
	position:absolute;
	left:28.524227142333984px;
	top:28.523988723754883px;
}
.ei3_711_608_6926 { 
	background-color:rgba(96.00000187754631, 69.00000348687172, 253.0000001192093, 1);
	width:11.149999618530273px;
	height:11.149999618530273px;
	position:absolute;
	left:14.00338077545166px;
	top:14.002656936645508px;
}
.i3_711_608_6926 { 
	border:0px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.ei3_711_608_6927 { 
	background-color:rgba(85.0000025331974, 63.000000044703484, 254.00000005960464, 1);
	width:11.149999618530273px;
	height:11.150339126586914px;
	position:absolute;
	left:14.003177642822266px;
	top:28.524032592773438px;
}
.ei3_711_608_6928 { 
	width:11.150339126586914px;
	height:11.150339126586914px;
	position:absolute;
	left:-0.0000802111899247393px;
	top:28.52400016784668px;
}
.ei3_711_608_6929 { 
	background-color:rgba(74.0000031888485, 58.00000034272671, 255, 1);
	width:11.150339126586914px;
	height:11.150339126586914px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_712 { 
	width:1220px;
	height:1091px;
	position:absolute;
	left:110px;
	top:274.3604736328125px;
}
.e3_713 { 
	width:1220px;
	height:453px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_714 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:320px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
	line-height:px;
}
.e3_718 { 
	box-shadow:0px 14px 42px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.14000000059604645);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:85px;
}
.e3_719 { 
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_720 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:130px;
	height:26px;
	position:absolute;
	left:119px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_724 { 
	box-shadow:0px 24px 65px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.1599999964237213);
	width:368px;
	height:368px;
	position:absolute;
	left:426px;
	top:85px;
}
.e3_725 { 
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_726 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:130px;
	height:26px;
	position:absolute;
	left:118.5px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_730 { 
	box-shadow:0px 32px 72px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.23999999463558197);
	width:368px;
	height:368px;
	position:absolute;
	left:852px;
	top:85px;
}
.e3_731 { 
	background-color:rgba(255, 255, 255, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_732 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:130px;
	height:26px;
	position:absolute;
	left:118.5px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_734 { 
	width:1220px;
	height:458px;
	position:absolute;
	left:0px;
	top:633px;
}
.e3_735 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:300px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
	line-height:px;
}
.e3_736 { 
	box-shadow:0px 4px 10px rgba(73.99998798966408, 57.9999965429306, 255, 0.05999999865889549);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:90px;
}
.e3_737 { 
	background-color:rgba(31.000000052154064, 54.00000058114529, 61.00000016391277, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_738 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:26px;
	position:absolute;
	left:94.5px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_742 { 
	box-shadow:0px 6px 20px rgba(73.99998798966408, 57.9999965429306, 255, 0.07999999821186066);
	width:368px;
	height:368px;
	position:absolute;
	left:426px;
	top:90px;
}
.e3_743 { 
	background-color:rgba(112.000000923872, 169.00000512599945, 161.0000056028366, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_744 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:184px;
	height:26px;
	position:absolute;
	left:91.5px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_748 { 
	box-shadow:0px 10px 28px rgba(73.99998798966408, 57.9999965429306, 255, 0.11999999731779099);
	width:368px;
	height:368px;
	position:absolute;
	left:852px;
	top:90px;
}
.e3_749 { 
	background-color:rgba(207.00000286102295, 224.000001847744, 195.0000035762787, 1);
	width:368px;
	height:368px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e3_750 { 
	color:rgba(32.525783479213715, 31.476564779877663, 83.93750354647636, 1);
	width:185px;
	height:26px;
	position:absolute;
	left:91.5px;
	top:171px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
