.e3_612 {
  background-color: rgba(249.71405804157257, 249.71405804157257, 251.81250303983688, 1);
  width: 1440px;
  height: 2120.71728515625px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: absolute;
  overflow: hidden;
}
.e3_613 {
  width: 1440px;
  height: 1960.71728515625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_614 {
  width: 1220.0001220703125px;
  height: 1671.71728515625px;
  position: absolute;
  left: 109.9998779296875px;
  top: 289px;
}
.e3_615 {
  width: 284px;
  height: 415.9057312011719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_616 {
  color: rgba(31.000000052154064, 54.00000058114529, 61.00000016391277, 1);
  width: 261px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_617 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 82px;
}
.e3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.e3_619 {
  width: 96px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.e3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.e3_621 {
  width: 86px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.e3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.e3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 70px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.e3_624 {
  background-color: rgba(31.000000052154064, 54.00000058114529, 61.00000016391277, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_626 {
  width: 1220px;
  height: 421.9057312011719px;
  position: absolute;
  left: 0px;
  top: 555.90576171875px;
}
.e3_627 {
  color: rgba(24.729688614606857, 32.61290900409222, 60.56249924004078, 1);
  width: 270px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_628 {
  width: 1220px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 88px;
}
.e3_629 {
  width: 1220px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_630 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_630_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_630_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_630_3_619 {
  width: 94px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_630_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 88px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_630_3_621 {
  width: 94px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_630_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_630_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 78px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_630_3_624 {
  background-color: rgba(64.00000378489494, 121.00000038743019, 140.00000685453415, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}

.e3_631 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 312px;
  top: 0px;
}
.ei3_631_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_631_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_631_3_619 {
  width: 87px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_631_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 87px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_631_3_621 {
  width: 87px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_631_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_631_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 71px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_631_3_624 {
  background-color: rgba(112.000000923872, 169.00000512599945, 161.0000056028366, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}

.e3_632 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 624px;
  top: 0px;
}
.ei3_632_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_632_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_632_3_619 {
  width: 155px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_632_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 155px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_632_3_621 {
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_632_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_632_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 73px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_632_3_624 {
  background-color: rgba(158.00000578165054, 193.00000369548798, 163.00000548362732, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}

.e3_633 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 936px;
  top: 0px;
}
.ei3_633_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_633_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_633_3_619 {
  width: 98px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_633_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 98px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_633_3_621 {
  width: 95px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_633_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_633_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_633_3_624 {
  background-color: rgba(207.00000286102295, 224.000001847744, 195.0000035762787, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_644 {
  transform: rotate(0.000005008956130975318deg);
  width: 1220.0001220703125px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 1117.8115234375px;
  border: 2px solid rgba(214.00000244379044, 219.0000021457672, 229.00000154972076, 1);
}
.e3_645 {
  width: 1220px;
  height: 413.9057312011719px;
  position: absolute;
  left: 0px;
  top: 1257.8116455078125px;
}
.e3_646 {
  color: rgba(24.729688614606857, 32.61290900409222, 60.56249924004078, 1);
  width: 252px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_647 {
  width: 1220px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 80px;
}
.e3_648 {
  width: 1220px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_649 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_649_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_649_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_649_3_619 {
  width: 101px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_649_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 53px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_649_3_621 {
  width: 101px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_649_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_649_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 85px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_649_3_624 {
  background-color: rgba(0, 0, 0, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_650 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 312px;
  top: 0px;
}
.ei3_650_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_650_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_650_3_619 {
  width: 89px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_650_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 64px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_650_3_621 {
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_650_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_650_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 73px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_650_3_624 {
  background-color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_651 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 624px;
  top: 0px;
}
.ei3_651_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_651_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_651_3_619 {
  width: 84px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_651_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 58px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_651_3_621 {
  width: 84px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_651_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_651_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 68px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_651_3_624 {
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_652 {
  width: 284px;
  height: 333.9057312011719px;
  position: absolute;
  left: 936px;
  top: 0px;
}
.ei3_652_3_618 {
  box-shadow: 0px 10px 30px rgba(35.00000171363354, 55.00000052154064, 128.0000075697899, 0.07999999821186066);
  background-color: rgba(255, 255, 255, 1);
  width: 284px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 24px;
}
.i3_652_3_618 {
  border: 1px solid rgba(235.0000011920929, 239.00000095367432, 246.0000005364418, 1);
}
.ei3_652_3_619 {
  width: 99px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 247px;
}
.ei3_652_3_620 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 66px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.ei3_652_3_621 {
  width: 99px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 30px;
}
.ei3_652_3_622 {
  color: rgba(134.00000721216202, 141.0000067949295, 166.00000530481339, 1);
  width: 16px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_652_3_623 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 83px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 10;
  line-height: px;
}
.ei3_652_3_624 {
  background-color: rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 1);
  width: 284px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 1 px;
}
.e3_673 {
  width: 1440px;
  height: 134.36045837402344px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_674 {
  box-shadow: 0px 5px 14px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.05000000074505806);
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 134.36045837402344px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_675 {
  width: 1220.0001220703125px;
  height: 76px;
  position: absolute;
  left: 110px;
  top: 29.180177688598633px;
}
.e3_676 {
  width: 205px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_677 {
  color: rgba(24.729688614606857, 32.61290900409222, 60.56249924004078, 1);
  width: 113px;
  height: 48px;
  position: absolute;
  left: 92px;
  top: 13px;
  font-family: DM Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_678 {
  width: 76px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_679 {
  box-shadow: 0px 15px 16px rgba(74.0000031888485, 58.00000034272671, 255, 0.2199999988079071);
  background-color: rgba(255, 255, 255, 1);
  width: 76px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 23.897384643554688px;
  border-top-right-radius: 23.897384643554688px;
  border-bottom-left-radius: 23.897384643554688px;
  border-bottom-right-radius: 23.897384643554688px;
}
.e3_680 {
  width: 40.39798355102539px;
  height: 40.39798355102539px;
  position: absolute;
  left: 17.800559997558594px;
  top: 17.726444244384766px;
}
.e3_681 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 25.915584564208984px;
  height: 37.259578704833984px;
  position: absolute;
  left: 13.59863567352295px;
  top: 3.1263587474823px;
}
.e3_682 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  opacity: 0.3499999940395355;
  width: 40.39798355102539px;
  height: 40.39798355102539px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_683 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 6.732995986938477px;
  height: 6.732995986938477px;
  position: absolute;
  left: 6.732877731323242px;
  top: 29.176361083984375px;
}
.e3_684 {
  box-shadow: 0px 4.714901447296143px 2.742985725402832px
    rgba(37.00000159442425, 19.0000007674098, 120.00000044703484, 0.01979999989271164);
  width: 301.8248291015625px;
  height: 39.67440414428711px;
  position: absolute;
  left: 918.17529296875px;
  top: 18.162839889526367px;
}
.e3_685 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 55.38737869262695px;
  top: 6.014227390289307px;
}
.e3_686 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_687 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_688 {
  background-color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 66.64205169677734px;
  height: 27.348966598510742px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_689 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 172.59120178222656px;
  height: 32.88344955444336px;
  position: absolute;
  left: 73.84615325927734px;
  top: -0.000054850534070283175px;
}
.e3_690 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_691 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_692 {
  background-color: rgba(127.8645372390747, 85.30989110469818, 249.6875050663948, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524486541748047px;
  top: -0.000011534047189343255px;
}
.e3_693 {
  background-color: rgba(117.00000062584877, 80.00000283122063, 251.00000023841858, 1);
  width: 11.150339126586914px;
  height: 11.149999618530273px;
  position: absolute;
  left: 28.524227142333984px;
  top: 14.002653121948242px;
}
.e3_694 {
  background-color: rgba(106.00000128149986, 74.0000031888485, 252.00000017881393, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524227142333984px;
  top: 28.523988723754883px;
}
.e3_695 {
  background-color: rgba(96.00000187754631, 69.00000348687172, 253.0000001192093, 1);
  width: 11.149999618530273px;
  height: 11.149999618530273px;
  position: absolute;
  left: 14.00338077545166px;
  top: 14.002656936645508px;
  border: 0px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.e3_696 {
  background-color: rgba(85.0000025331974, 63.000000044703484, 254.00000005960464, 1);
  width: 11.149999618530273px;
  height: 11.150339126586914px;
  position: absolute;
  left: 14.003177642822266px;
  top: 28.524032592773438px;
}
.e3_697 {
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: -0.0000802111899247393px;
  top: 28.52400016784668px;
}
.e3_698 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 0px;
  top: 0px;
}
