.e3_159 {
  background-color: rgba(249.71405804157257, 249.71405804157257, 251.81250303983688, 1);
  width: 1440px;
  height: 2555.80126953125px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  position: absolute;
  overflow: hidden;
}
.e3_160 {
  width: 1440px;
  height: 2395.80126953125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_161 {
  width: 1220px;
  height: 2161.440673828125px;
  position: absolute;
  left: 110px;
  top: 234.3604736328125px;
}
.e3_182 {
  width: 1220px;
  height: 2161.440673828125px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_183 {
  width: 1220px;
  height: 932.91015625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_184 {
  width: 1220px;
  height: 770.9100952148438px;
  position: absolute;
  left: 0px;
  top: 162.00006103515625px;
}
.e3_185 {
  width: 1220px;
  height: 123.37420654296875px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_186 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 804px;
  height: 90px;
  position: absolute;
  left: 416px;
  top: -1.1368683772161603e-13px;
  font-family: ExcludedItalic;
  text-align: left;
  font-size: 90px;
  letter-spacing: 0;
  line-height: px;
}
.e3_187 {
  width: 121px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 3.37420654296875px;
}
.e3_188 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 34px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_189 {
  width: 121px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_190 {
  width: 121px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_191 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 77px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_192 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 40px;
  height: 20px;
  position: absolute;
  left: 81px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_193 {
  width: 42px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_194 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 42px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_197 {
  width: 1169.067138671875px;
  height: 125.535888671875px;
  position: absolute;
  left: 0px;
  top: 217.37420654296875px;
}
.e3_198 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 753.067138671875px;
  height: 80px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Excluded;
  text-align: left;
  font-size: 72px;
  letter-spacing: 0;
  line-height: px;
}
.e3_199 {
  width: 77px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 5.535888671875px;
}
.e3_200 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 41px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_201 {
  width: 77px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_202 {
  width: 77px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_203 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 77px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_205 {
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_206 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_209 {
  width: 1012px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 436.91009521484375px;
}
.e3_210 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 596px;
  height: 50px;
  position: absolute;
  left: 416px;
  top: 2.3148276805877686px;
  font-family: Yulong;
  text-align: left;
  font-size: 44px;
  letter-spacing: 0;
  line-height: px;
}
.e3_211 {
  width: 100px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_212 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 42px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_213 {
  width: 100px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_214 {
  width: 100px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_215 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_216 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 40px;
  height: 20px;
  position: absolute;
  left: 60px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_217 {
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_218 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_221 {
  width: 870.8460693359375px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 650.9100952148438px;
}
.e3_222 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 454.8460998535156px;
  height: 38px;
  position: absolute;
  left: 416px;
  top: 2.3148276805877686px;
  font-family: Yulong;
  text-align: left;
  font-size: 44px;
  letter-spacing: 0;
  line-height: px;
}
.e3_223 {
  width: 56px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_224 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 44px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_225 {
  width: 56px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_226 {
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_227 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_229 {
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_230 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_233 {
  transform: rotate(0.000005008956130975318deg);
  width: 1220px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 89.99993896484375px;
  border: 2px solid rgba(246.5708363056183, 246.5708363056183, 250.75000405311584, 1);
}
.e3_234 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 226px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 50px;
  letter-spacing: 0;
  line-height: px;
}
.e3_235 {
  width: 1220px;
  height: 1028.530517578125px;
  position: absolute;
  left: 0px;
  top: 1132.91015625px;
}
.e3_236 {
  transform: rotate(0.000005008956130975318deg);
  width: 1220px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 90px;
  border: 2px solid rgba(246.5708363056183, 246.5708363056183, 250.75000405311584, 1);
}
.e3_237 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 125px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 50px;
  letter-spacing: 0;
  line-height: px;
}
.e3_238 {
  width: 1219.667724609375px;
  height: 866.5305786132812px;
  position: absolute;
  left: 0px;
  top: 162px;
}
.e3_239 {
  width: 1054px;
  height: 121.94877624511719px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_240 {
  width: 160px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 1.9487799406051636px;
}
.e3_241 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 51px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_242 {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_243 {
  width: 160px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_244 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_245 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 67px;
  height: 20px;
  position: absolute;
  left: 93px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_246 {
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_247 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 41px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_250 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 638px;
  height: 66px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Inconstant;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_251 {
  width: 1219.667724609375px;
  height: 122.30924987792969px;
  position: absolute;
  left: 0px;
  top: 185.9487762451172px;
}
.e3_252 {
  width: 160px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 2.309253692626953px;
}
.e3_253 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 43px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_254 {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_255 {
  width: 160px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_256 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_257 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 67px;
  height: 20px;
  position: absolute;
  left: 93px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_258 {
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_259 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_262 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 803.667724609375px;
  height: 46px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Inconstant;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  line-height: px;
}
.e3_263 {
  width: 1058.537109375px;
  height: 121.94877624511719px;
  position: absolute;
  left: 0px;
  top: 372.2580261230469px;
}
.e3_264 {
  width: 160px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 1.9487799406051636px;
}
.e3_265 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 20px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_266 {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_267 {
  width: 160px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_268 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_269 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 67px;
  height: 20px;
  position: absolute;
  left: 93px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_270 {
  width: 46px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_271 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 46px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_274 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 642.537109375px;
  height: 34px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Inconstant;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_275 {
  width: 985.7127685546875px;
  height: 121.94877624511719px;
  position: absolute;
  left: 0px;
  top: 558.206787109375px;
}
.e3_276 {
  width: 160px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 1.9487799406051636px;
}
.e3_277 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 153px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_278 {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_279 {
  width: 160px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_280 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_281 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 67px;
  height: 20px;
  position: absolute;
  left: 93px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_282 {
  width: 37px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_283 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 37px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_286 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 569.7127685546875px;
  height: 34px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Inconstant;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
  line-height: px;
}
.e3_287 {
  width: 911px;
  height: 122.37498474121094px;
  position: absolute;
  left: 0px;
  top: 744.1555786132812px;
}
.e3_288 {
  width: 111px;
  height: 120px;
  position: absolute;
  left: 0px;
  top: 2.374988555908203px;
}
.e3_289 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 21px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  line-height: px;
}
.e3_290 {
  width: 111px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 72px;
}
.e3_291 {
  width: 111px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_292 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 70px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_293 {
  color: rgba(104.1886992752552, 103.40428456664085, 119.09247234463692, 1);
  width: 37px;
  height: 20px;
  position: absolute;
  left: 74px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_294 {
  width: 89px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.e3_295 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 35px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_296 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 7px;
  height: 20px;
  position: absolute;
  left: 39px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_297 {
  color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 39px;
  height: 20px;
  position: absolute;
  left: 50px;
  top: 0px;
  font-family: Josefin Sans;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  line-height: px;
}
.e3_298 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 495px;
  height: 34px;
  position: absolute;
  left: 416px;
  top: 0px;
  font-family: Yulong;
  text-align: left;
  font-size: 25px;
  letter-spacing: 0;
  line-height: px;
}
.e3_585 {
  width: 1440px;
  height: 134.36045837402344px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_586 {
  box-shadow: 0px 5px 14px rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 0.05000000074505806);
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 134.36045837402344px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_587 {
  width: 1220.0001220703125px;
  height: 76px;
  position: absolute;
  left: 110px;
  top: 29.180177688598633px;
}
.e3_588 {
  width: 299px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_589 {
  color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 207px;
  height: 44px;
  position: absolute;
  left: 92px;
  top: 22.5224609375px;
  font-family: DM Sans;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: px;
}
.e3_590 {
  width: 76px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_591 {
  box-shadow: 0px 15px 16px rgba(74.0000031888485, 58.00000034272671, 255, 0.2199999988079071);
  background-color: rgba(255, 255, 255, 1);
  width: 76px;
  height: 76px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 23.897384643554688px;
  border-top-right-radius: 23.897384643554688px;
  border-bottom-left-radius: 23.897384643554688px;
  border-bottom-right-radius: 23.897384643554688px;
}
.e3_592 {
  width: 48.796661376953125px;
  height: 36.59782791137695px;
  position: absolute;
  left: 13.601669311523438px;
  top: 19.701139450073242px;
}
.e3_593 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 28.465280532836914px;
  height: 36.59782791137695px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_594 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 20.33095932006836px;
  height: 6.099287509918213px;
  position: absolute;
  left: 4.068118572235107px;
  top: 22.36404037475586px;
}
.e3_595 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  opacity: 0.3499999940395355;
  width: 18.298229217529297px;
  height: 20.33230209350586px;
  position: absolute;
  left: 30.498430252075195px;
  top: 16.264707565307617px;
}
.e3_596 {
  box-shadow: 0px 4.714901447296143px 2.742985725402832px
    rgba(37.00000159442425, 19.0000007674098, 120.00000044703484, 0.01979999989271164);
  width: 301.8248291015625px;
  height: 39.67440414428711px;
  position: absolute;
  left: 918.17529296875px;
  top: 18.162839889526367px;
}
.e3_597 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 55.38737869262695px;
  top: 6.014227390289307px;
}
.e3_598 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_599 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_600 {
  background-color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 66.64205169677734px;
  height: 27.348966598510742px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_601 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 172.59120178222656px;
  height: 32.88344955444336px;
  position: absolute;
  left: 73.84615325927734px;
  top: -0.000054850534070283175px;
}
.e3_602 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_603 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_604 {
  background-color: rgba(127.8645372390747, 85.30989110469818, 249.6875050663948, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524486541748047px;
  top: -0.000011534047189343255px;
}
.e3_605 {
  background-color: rgba(117.00000062584877, 80.00000283122063, 251.00000023841858, 1);
  width: 11.150339126586914px;
  height: 11.149999618530273px;
  position: absolute;
  left: 28.524227142333984px;
  top: 14.002653121948242px;
}
.e3_606 {
  background-color: rgba(106.00000128149986, 74.0000031888485, 252.00000017881393, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524227142333984px;
  top: 28.523988723754883px;
}
.e3_607 {
  background-color: rgba(96.00000187754631, 69.00000348687172, 253.0000001192093, 1);
  width: 11.149999618530273px;
  height: 11.149999618530273px;
  position: absolute;
  left: 14.00338077545166px;
  top: 14.002656936645508px;
  border: 0px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.e3_608 {
  background-color: rgba(85.0000025331974, 63.000000044703484, 254.00000005960464, 1);
  width: 11.149999618530273px;
  height: 11.150339126586914px;
  position: absolute;
  left: 14.003177642822266px;
  top: 28.524032592773438px;
}
.e3_609 {
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: -0.0000802111899247393px;
  top: 28.52400016784668px;
}
.e3_610 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e3_611 {
  box-shadow: 0px 4.714901447296143px 2.742985725402832px
    rgba(37.00000159442425, 19.0000007674098, 120.00000044703484, 0.01979999989271164);
  width: 301.8248291015625px;
  height: 39.67440414428711px;
  position: absolute;
  left: 918.17529296875px;
  top: 18.162841796875px;
}
.ei3_611_16_117 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 55.38737869262695px;
  top: 6.014227390289307px;
}
.ei3_611_16_118 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_611_16_119 {
  width: 246.4374237060547px;
  height: 32.88345718383789px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_611_16_120 {
  background-color: rgba(93.33476409316063, 89.55885350704193, 136.0497996211052, 1);
  width: 66.64205169677734px;
  height: 27.348966598510742px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_611_16_121 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 172.59120178222656px;
  height: 32.88344955444336px;
  position: absolute;
  left: 73.84615325927734px;
  top: -0.000054850534070283175px;
}
.ei3_611_16_122 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_611_16_123 {
  width: 39.67490768432617px;
  height: 39.67438507080078px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ei3_611_16_124 {
  background-color: rgba(127.8645372390747, 85.30989110469818, 249.6875050663948, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524486541748047px;
  top: -0.000011534047189343255px;
}
.ei3_611_16_125 {
  background-color: rgba(117.00000062584877, 80.00000283122063, 251.00000023841858, 1);
  width: 11.150339126586914px;
  height: 11.149999618530273px;
  position: absolute;
  left: 28.524227142333984px;
  top: 14.002653121948242px;
}
.ei3_611_16_126 {
  background-color: rgba(106.00000128149986, 74.0000031888485, 252.00000017881393, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 28.524227142333984px;
  top: 28.523988723754883px;
}
.ei3_611_16_127 {
  background-color: rgba(96.00000187754631, 69.00000348687172, 253.0000001192093, 1);
  width: 11.149999618530273px;
  height: 11.149999618530273px;
  position: absolute;
  left: 14.00338077545166px;
  top: 14.002656936645508px;
}
.i3_611_16_127 {
  border: 0px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.ei3_611_16_128 {
  background-color: rgba(85.0000025331974, 63.000000044703484, 254.00000005960464, 1);
  width: 11.149999618530273px;
  height: 11.150339126586914px;
  position: absolute;
  left: 14.003177642822266px;
  top: 28.524032592773438px;
}
.ei3_611_16_129 {
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: -0.0000802111899247393px;
  top: 28.52400016784668px;
}
.ei3_611_16_130 {
  background-color: rgba(74.0000031888485, 58.00000034272671, 255, 1);
  width: 11.150339126586914px;
  height: 11.150339126586914px;
  position: absolute;
  left: 0px;
  top: 0px;
}
